---
import type { GetStaticPaths } from "astro";

type Astronaut = { astronaut: string };

export const getStaticPaths: GetStaticPaths = ({ paginate }) => {
  const astronautPages: Astronaut[] = [
    { astronaut: "Neil Armstrong" },
    { astronaut: "Buzz Aldrin" },
    { astronaut: "Sally Ride" },
    { astronaut: "John Glenn" },
  ];

  // 根据宇航员数组生成页面，每页2项
  return paginate(astronautPages, { pageSize: 2 });
};

interface Page<T = any> {
  /** 数组，包含了传递给 paginate() 函数的页面数据片段 */
  data: T[];
  /** 元数据 */
  /** 页面第一项的计数，从 0 开始。 */
  start: number;
  /** 页面最后一项的计数，从 0 开始 */
  end: number;
  /** 结果总计数 */
  total: number;
  /** 当前页码, 从 1 开始 */
  currentPage: number;
  /** 每个页面的项数（默认为 10) */
  size: number;
  /** 最后一页的序号 */
  lastPage: number;
  url: {
    /** 当前页面链接 */
    current: string;
    /** 前一页的链接（如果有） */
    prev: string | undefined;
    /** 下一页的链接（如果有） */
    next: string | undefined;
    /** 第一页的链接 (如果当前页面不是第一页) */
    first: string | undefined;
    /** 最后一页的链接 (如果当前页面不是最后一页) */
    last: string | undefined;
  };
}

interface Props {
  page: Page;
}

// 所有分页数据都在 "page" 参数中传递
const { page } = Astro.props as Props;
---

<!-- 显示当前页面。也可以使用 `Astro.params.page`！-->
<h1>Page {page.currentPage}</h1>
<ul>
  <!-- 列出宇航员信息数组 -->
  {page.data.map(({ astronaut }) => <li>{astronaut}</li>)}
</ul>
